<div class="container">
  <mat-card class="example-card" *ngFor="let product of products">
    <mat-card-title>{{product.title}}</mat-card-title>
    <img class="image" mat-card-image src="../../../assets/images/mb.jpg"/>
    <mat-card-content>
      <p>{{product.price | currency: "EUR"}}</p>
      <p>{{product.year}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">В корзину</button>
      <button class="button" mat-flat-button color="primary">Подробнее</button>
    </mat-card-actions>
  </mat-card>
</div>
